@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #252422;
    transition-duration: 1s;
}

.switchStyleBody {
    background-color: #252422;
    color: #f9cdcd;
    transition-duration: 1s;
}

.switchStyleH2{
    color: #f9cdcd;
    transition-duration: 1s;
}

.sectionBtn {
    height: 10px;
    position: relative;
    padding: 8px 30px;
    text-decoration: none;
    color: #252422;
    border: 1px solid #252422;
    border-radius: 30px;
    font-size: 0.7rem;
    font-weight: 600;
    transition-duration: 0.3s;
}

.sectionBtn:hover {
    color: #f4f4f4;
    border-color: #f4f4f4;
}

.sectionBtn:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    background-color: #252422;
    border-radius: 30px;
    transition: transform 0.3s;
    z-index: -1;
}

.sectionBtn:hover::after {
    transform: translateZ(0);
}


/* HEADER  */

nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px;
}

.navLink {
    position: relative;
    text-decoration: none;
    color: #f4f4f4;
}

.navLink:after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    display: block;
    right: 0;
    background: #f4f4f4;
    transition: width .3s ease;
}

.navLink:hover:after {
    width: 100%;
    left: 0;
    background: #f4f4f4;
}

.logo {
    width: 160px;
    fill: #f4f4f4;
}

header ul {
    display: flex;
}

header li {
    width: 110px;
    font-size: 0.9rem;
}

.btnMenu {
    background: none;
    border: none;
}

.menu {
    width: 22px;
    fill: white;
}

/* SECTION VIDEO  */

.sectionVideo {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* SECTION 1  */

.section1 {
    margin-top: 90vh;
    padding: 80px;
    font-size: 2.3rem;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

.section1>div:nth-child(1) {
    width: 800px;
}

.section1>div:nth-child(2) {
    margin-left: 80px;
}

.section1 figure {
    width: 36vw;
    height: 12vh;
}

/* SECTION 2  */

.section2 {
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.section2Div {
    width: 100%;
    height: 100%;
    margin-right: 20px;
}

.section2 a {
    color: #252422;
    text-decoration: none;
}

.section2DivVideo {
    width: 100%;
    height: 100%;
}

.section2Div>a>div:nth-child(1) {
    overflow: hidden;
}

.section2cadre {
    width: 100%;
    height: 80%;
    transform: scale(1.09);
    transition-duration: 0.7s;
}

.section2cadreVideo {
    width: 101%;
    height: 80%;
}

.section2DivTexte {
    padding: 20px;
}

.section2DivTexte>h1 {
    font-size: 1.3rem;
    font-weight: 600;
}

.section2DivTexte>p {
    font-size: 0.9rem;
    line-height: 1.2;
    margin-right: 50%;
}

/* SECTION 3  */

.section3 {
    padding: 80px;
}

.section3>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #252422;
    padding-top: 15px;
}

.section3>div>div:nth-child(3) {
    display: inline-block;
    font-size: 1.6rem;
}

.section3_05 {
    width: 29vw;
}

/* SECTION 4  */

.section4 {
    font-size: 2.6rem;
    font-weight: 600;
    padding: 80px;
}

/* SECTION 5  */

.section5 {
    display: flex;
    overflow-x: scroll;
    padding: 80px 0 80px 80px;
}

.section5:hover {
    cursor: none;
}

.cursor {
    display: none;
    position: absolute;
    width: 120px;
    height: 120px;
    min-width: initial !important;
    margin: 0 !important;
    border-radius: 50%;
    background-color: #f9cdcd;
    text-align: center;
    line-height: 120px;
    font-size: 0.9rem;
    font-weight: 600;
}

.section5::-webkit-scrollbar {
    display: block;
    height: 2px;
}

.section5::-webkit-scrollbar-track {
    background-color: #9e9e9e;
    margin-right: 80px;
    margin-left: 80px;
}

.section5::-webkit-scrollbar-thumb {
    background: #252422;
    transition-duration: 1s;
}

.switchStyleSection5::-webkit-scrollbar-thumb {
    background: #f9cdcd;
    transition-duration: 1s;
}

.section5 a {
    color: #252422;
}

.section5>div {
    min-width: 25vw;
    margin-right: 150px;
}

.section5Ttitle {
    font-size: 1.5rem;
    font-weight: 500;
}

.section5Ttext {
    font-size: 1.1rem;
    line-height: 1.5;
}

.section5>div>div:nth-child(1)>img {
    width: auto;
}

.imgGoogle {
    width: 120px !important;
}

.imgPatagonia {
    width: 180px !important;
}

.section5separation {
    width: 20px;
    height: 2px;
    background-color: #252422;
    margin-top: 20px;
    margin-bottom: 90px;
}

/* SECTION 6  */

.section6 {
    padding: 100px 80px 0 80px;
    display: flex;
    justify-content: space-between;
}

.section6 > div:nth-child(1) {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.section6 > div:nth-child(1) > h2 {
    font-size: 6vw;
    font-weight: 600;
    margin-bottom: 20px;
}

.section6 > div:nth-child(1) > span {
    font-size: 1.3vw;
    margin-bottom: 80px;
}

.section6 > div:nth-child(1) > span > span {
    font-weight: 800;
}

.section6 > div:nth-child(1) > a {
    width: 55px;
}

.section6 > div:nth-child(2) {
    width: 50%;
}

/* SECTION 7 */

.section7 {
    padding: 80px;
}

.section7 a {
    text-decoration: none;
    color: #252422;
}

.section7Div {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
}

.section7Div>h1 {
    width: 10%;
    font-size: 2.5rem;
    font-weight: 600;
}

.section7DivElement1 {
    margin-top: 4rem !important;
}

.section7DivElement {
    margin-top: 5rem;
    padding-top: 20px;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.section7DivElement>div:nth-child(1) {
    overflow: hidden;
    width: 33%;
    height: 50%;
}

.section7DivElement>div>img {
    width: 100%;
    transform: scale(1.06);
    transition-duration: 0.7s;
}

.section7DivDiv {
    position: relative;
    width: 65%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.section7DivDiv>h2 {
    width: 70%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.section7DivDiv>figure {
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
}

.section7DivDiv>h2 {
    font-size: 2.5rem;
    font-weight: 500;
}

.section7DivDiv>p {
    font-size: 0.9rem;
}

.section7DivDiv span {
    font-weight: 600;
    margin-right: 8px;
}

/* FOOTER  */

footer {
    margin-top: 300px;
}

footer>div:nth-child(1) {
    color: #f4f4f4;
    padding: 100px 100px 80px 80px;
    background-color: #252422;
}

.footer__logo {
    width: 68px;
}

footer>div:nth-child(1)>div:nth-child(1) {
    font-size: 1.9rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    fill: #f4f4f4;
}

footer>div:nth-child(1)>div:nth-child(1)>div:nth-child(1) {
    width: 50%;
}

footer>div:nth-child(1)>div:nth-child(1)>p {
    width: 50%;
}

footer>div:nth-child(1)>div:nth-child(1)>p>a {
    color: #f4f4f4;
    text-decoration: none;
    position: relative;
}

footer>div:nth-child(1)>div:nth-child(1)>p>a::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background: #f4f4f4;
}

footer>div:nth-child(1)>div:nth-child(1)>p>a:hover::after {
    animation: test 3s ease 0s 1 normal backwards;
}

@keyframes test {
    0% {
        width: 100%;
    }

    50% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

footer>div:nth-child(1)>div:nth-child(2) {
    margin-top: 100px;
    font-size: 1.1rem;
    line-height: 1.4;
    display: flex;
    justify-content: space-between;
}

footer>div:nth-child(1)>div:nth-child(2)>div:nth-child(1) {
    width: 40%;
}

footer>div:nth-child(1)>div:nth-child(2)>div:nth-child(1)>div {
    display: flex;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.footerInput {
    width: 100%;
    border: none;
    background: none;
    color: #f4f4f4;
    font-size: 1.1rem;
}

.footerInput:focus {
    outline: none;
}

.footerInput::placeholder {
    color: #f4f4f4;
    font-size: 1.1rem;
}

footer>div:nth-child(1)>div:nth-child(2)>div:nth-child(1) button {
    background: none;
    cursor: pointer;
    border: none;
}

footer>div:nth-child(1)>div:nth-child(2)>div:nth-child(1) figure {
    width: 20px;
    fill: #f4f4f4;
}

footer>div:nth-child(1)>div:nth-child(2)>div:nth-child(2) {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

footer>div:nth-child(1)>div:nth-child(2) a {
    text-decoration: none;
    color: #f4f4f4;
}

footer>div:nth-child(1)>div:nth-child(2) a:hover {
    text-decoration: underline;
}

footer>div:nth-child(2) {
    color: #868686;
    font-size: 0.7rem;
    padding: 25px 80px;
    background-color: #141412;
    display: flex;
    justify-content: space-between;
}

footer>div:nth-child(2) a {
    text-decoration: none;
    color: #868686;
}

footer>div:nth-child(2) a:hover {
    text-decoration: underline;
}

footer h3::before {
    display: inline-block;
    content: "●";
    margin-right: 10px;
    font-size: 1.6rem;
}